
@font-face {
	font-weight: 400;    /*regular*/
	font-family: "roboto";
	font-style: normal;

	src: local("Roboto"),
	url("/font/roboto-regular.woff2"),
	url("/font/roboto-regular.woff");
}

@font-face {
	font-weight: 500;    /*medium*/
	font-family: "roboto";
	font-style: normal;

	src: local("Roboto"),
	url("/font/roboto-medium.woff2"),
	url("/font/roboto-medium.woff");
}

@font-face {
	font-weight: 300;    /*light*/
	font-family: "roboto";
	font-style: normal;

	src: local("Roboto"),
	url("/font/roboto-light.woff2"),
	url("/font/roboto-light.woff");
}

@font-face {
	font-weight: 100;    /*thin*/
	font-family: "roboto";
	font-style: normal;

	src: local("Roboto"),
	url("/font/roboto-thin.woff2"),
	url("/font/roboto-thin.woff");
}

@font-face {
	font-weight: 100;    /*thin*/
	font-family: "roboto";
	font-style: italic;

	src: local("Roboto"),
	url("/font/roboto-thinitalic.woff2"),
	url("/font/roboto-thinitalic.woff");
}

@font-face {
	font-weight: 400;    /*regular*/
	font-family: "roboto-slab";
	font-style: normal;

	src: local("Roboto Slab"),
	url("/font/robotoslab-regular.woff2"),
	url("/font/robotoslab-regular.woff");
}

@font-face {
	font-weight: 100;    /*thin*/
	font-family: "roboto-slab";
	font-style: normal;

	src: local("Roboto Slab"),
	url("/font/robotoslab-thin.woff2"),
	url("/font/robotoslab-thin.woff");
}

@font-face {
	font-weight: 400;    /*regular*/
	font-family: "exo";
	font-style: normal;

	src: local("Exo"),
	url("/font/exo-regular.woff2"),
	url("/font/exo-regular.woff");
}

@font-face {
	font-weight: 900;    /*black*/
	font-family: "exo";
	font-style: normal;

	src: local("Exo"),
	url("/font/exo-black.woff2"),
	url("/font/exo-black.woff");
}

@font-face {
	font-weight: 400;    /*regular*/
	font-family: "pacifico";
	font-style: normal;

	src: local("Pacifico"),
	url("/font/pacifico-regular.woff2"),
	url("/font/pacifico-regular.woff");
}


*,
:after,
:before {
	box-sizing: border-box;
}


body {
	font-size: 14px;
	font-family: roboto, sans-serif;
}

.clearfix::after {
	content: "";

	display: table;
	clear: both;
}

.page-header {
	height: 800px;
	margin: 0 auto;

	color: #ffffff;

	background: url("../img/bg_header.jpg") 0 0/cover no-repeat #16130f;
}

.page-header__top {
	border-bottom: 1px solid #4d4c4d;
}

.page-header__top-inner {
	height: 120px;
}

.page-header__inner {
	height: 680px;
}

.page-header__top-inner,
.page-header__inner {
	max-width: 1170px;
	margin: 0 auto;
	padding-right: 30px;
	padding-left: 30px;
}


.logo {
	font-weight: 400;
	font-size: 40px;
	line-height: 120px;
	font-family: roboto, sans-serif;
	color: #ffffff;
	text-decoration: none;
	font-style: normal;
}


.logo--font {
	font-weight: 400;
	font-family: pacifico, sans-serif;
	color: #1dde85;
	text-transform: uppercase;
	font-style: normal;
}

.page-header__nav {
	float: right;
	width: 70%;
	height: 120px;
}

.page-header__nav-list {
	float: right;
	margin-top: 55px;
	margin-right: 70px;
}

.page-header__nav-item {
	display: inline-block;
	margin-left: 40px;
}


.page-header__nav-item a {
	font-weight: 300;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}

.page-header__text {
	padding-top: 255px;

	text-align: center;
}

.page-header__title {
	margin-bottom: 40px;

	font-weight: 400;
	font-size: 48px;
	font-family: exo, sans-serif;
	font-style: normal;
}

.page-header__title--font {
	font-weight: 900;
	color: #1dde85;
	text-transform: uppercase;
}

.page-header__description {
	padding: 0 75px;

	font-weight: 300;
	font-size: 18px;
	line-height: 36px;
}

.page-content {
	height: 2000px;

	background-color: #fffcf4;
}

.page-content-inner {
	max-width: 1170px;
	margin: 0 auto;
}


.welcome-block {
	margin-bottom: 70px;
	padding-top: 123px;
	padding-right: 30px;
	padding-left: 30px;

	text-align: center;
}

.welcome-block__title {
	margin-bottom: 45px;

	font-weight: 500;
	font-size: 30px;
	color: #454546;
	font-style: normal;
}

.welcome-block__title--font {
	color: #1dde85;
	text-transform: uppercase;
}

.welcome-block__description {
	font-weight: 300;
	font-size: 18px;
	line-height: 36px;
	color: #8f8e91;
}

.our-skills {
	font-size: 0; /*убираем пробелы в инлайн блоках*/
}

.skill {
	display: inline-block;
	box-sizing: border-box;
	width: 360px;
	height: 250px;
	margin-right: 45px;
	margin-bottom: 40px;
	padding: 30px 15px 5px;

	vertical-align: top;
	text-align: center;
	text-decoration: none;

	outline: 1px solid #cac8c5;
}

.skill:nth-child(3n) {
	margin-right: 0;
}

.skill:hover {
	outline: 2px solid #1dde85;
}

.skill:hover .skill__icon {
	fill: #1dde85;
}

.skill:hover .skill__title {
	color: #1dde85;
}

.skill:hover .skill__description {
	color: #454546;
}

.skill__icon {
	fill: #454546;
	transition: 0.5s;
}

.skill__title {
	margin-top: 10px;

	font-weight: 500;
	font-size: 24px;
	color: #454546;
	font-style: normal;
	transition: 0.7s;
}

.skill__description {
	margin-top: 30px;

	font-weight: 100;
	font-size: 15px;
	line-height: 30px;
	color: #8f8e91;
	font-style: normal;
	transition: 0.7s;
}
